*{
    user-select: none !important;
}
/* body{
    
} */

.forceWindow{
    width: 855px;
    height: 475px;
}

:root{
    --agc: rgb(255, 218, 55);
    --bgc: rgba(255, 244, 194, 0.965);
}

#mWindow{
    background-color: var(--bgc) !important;
    border-color: var(--agc) !important;
    width: 100%;
    min-width: 98.5%;
    height: auto;

}

.hord{
    height: 341.5px;
}

.selected{
    border-color: rgba(255, 119, 119, 0.884) !important;
    border-width: 3px !important;
}

 .adw{
    width: 100%;
    min-width: 98.5%;
    height: 443px;
}

.hin{
    height: 423.5px;
    max-height: 423.5px;
}

.winher{
    width: inherit;
    min-width: inherit;
    max-width: inherit;
}

.bgc{
    background-color: var(--bgc) !important;

}

.ud{
    -webkit-app-region: no-drag !important;
}

.d{
    -webkit-app-region: drag !important;
} 

.elop{
    animation: owr 12s linear infinite;
}
@keyframes owr {
    0%{transform: translateX(0%);}
    30%{transform: translateX(0%);}
    /* 50%{transform: translateX(-60%);} */
    /* 70%{ transform: translateX(-120%);} */
    100%{ transform: translateX(-120%);}
}

#logs>p{
    opacity: 65%;
    
}
#logs>p::before{
    content: "- ";
}

.mainShowIn{
    animation: sinn .199s linear;
}

@keyframes sinn {
    0%{
        opacity: 100%;
    }
    100%{
        opacity: 0%;
    }
    
}
.inheritw{
    width: inherit;
    min-width: inherit;
}

.w1034{
    width: 855px;
    min-width: 855px;
    max-width: 855px;
}

/* up show-off down show-out*/

.mainShowOut{
    animation: sout .199s linear;
}

@keyframes sout {

    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }

}

.cageText{
    
}

.subShowOut{ /*show*/
    animation: sso .199s linear !important;
}

@keyframes sso{
    0%{
        background-color: rgba(233, 233, 233, 0.05) !important;
    }
    100%{
        background-color: rgba(233, 233, 233, 0) !important;
    }

}

.w-dw{
    width: 555.5px;
}

.bgass{
    background-color: rgba(233, 233, 233, 0.05);
    
}

.subShowIn{ /*hide*/
    animation: ssi .199s linear !important;
}

@keyframes ssi{
    0%{
        background-color: rgba(233, 233, 233, 0) !important;
    }
    100%{
        background-color: rgba(233, 233, 233, 0.05) !important;
    }

}

.w-up{
    width: 36.5rem;
}





.flew{
    animation: flew .5s ease;
}

.flyout{
    animation: fly .5s ease;
}

@keyframes flew {
    from{transform: translateY(-390px);}to{transform: translateY(0px);}
}

@keyframes fly {
    from{transform: translateY(0px);}to{transform: translateY(-550px);}
}